<div data-guest-list-target="guest_list"  class="event-detail__guest-list">
  <h2 class="event-detail__guest-list-headline">Guest list</h2>
  <ul class="event-detail__attendees">
    <% attendees.each do |attendee| %>
      <li class="event-detail__attendee">
        <%=  attendee.username %>
      </li>
    <%end%>
  <!--
    <li class="event-detail__attendee">Sabrina</li>
    <li class="event-detail__attendee">Mats</li>
    <li class="event-detail__attendee">Stine</li>
    <li class="event-detail__attendee">Maximilian</li>
    <li class="event-detail__attendee">Felix</li>
    <li class="event-detail__attendee">Viktor</li>
    <li class="event-detail__attendee">Kathinka</li>
    <li class="event-detail__attendee">Heiko</li>
    <li class="event-detail__attendee">Falco</li>
    <li class="event-detail__attendee">Serri</li>
    <li class="event-detail__attendee">Chrissy</li>
    <li class="event-detail__attendee">Tina</li>
    <li class="event-detail__attendee">Daniel</li>
    <li class="event-detail__attendee">Pascal</li>
    <li class="event-detail__attendee">Tammi</li>
    <li class="event-detail__attendee">Emanuele</li>
    <li class="event-detail__attendee">Björn</li>
    -->
  </ul>
</div>