<div class="container-home">
  <h2 class="event-type-title">
    Upcomming Events
  </h2>
  <%= render "event_tile", events: @events.where("date >= ? ", Time.now), css_class: "events" %>
  
  <h2 class="event-type-title">
    Past Events
  </h2>
  <%= render "event_tile", events: @events.where("date < ? ", Time.now), css_class: "events past_events" %>
</div>