<div class="container-home">
  <h2 class="event-type-title">
    Upcomming Events
  </h2>
  <div class="events">
    <% @events.each do |event| %> <%# herb:disable all %>
    <div class="event-card">
      <h3 class="event_card__title">
        <%= link_to event.title, event_path(event.id), class: "event_card__title" %>
      </h3>
      <%= formated_event_date_time(event.date, event.time, "event-detail__time") %>
      <%= tag.div event.location, class: "event-card__location"%>
      <%= link_to "Details", event_path(event.id), class: "button  event-card__button" %>
    </div>
  <% end %>
  </div>
  
  
  <h2 class="event-type-title">
    Past Events
  </h2>
</div>