<h2>
  Upcomming Events
</h2>
<div>
  <% @events.each do |event| %> <%# herb:disable all %>
  <div class="event-card">
    <h2 class="event_card__title">
      <%= link_to event.title, event_path(event.id) %>
    </h2>
    <%= tag.div "#{event.date.to_formatted_s(:long_ordinal)}, #{event.time.strftime('%l:%M %p').downcase}", class: "event-card__date-time"%>
    <%= tag.div event.location, class: "event-card__location"%>
    <%= link_to "Details", event_path(event.id), class: "button button-primary" %>
  </div>
<% end %>
</div>


<h2>
  Past Events
</h2>