@layer base{
  body{
    font-family: var(--text-font);
    background-color: var(--background);
    color: var(--text);
    padding: 1rem 2rem;
  }
  a{
    color: var(--primary);
    &:hover{
      color: var(--primary-highlight);
      cursor: pointer;
    }
  }
  input[type="submit"]{
  display: none;
}
}