@layer components{

  /* Events homepage*/
  .event-type-title{
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-alpha-70);
  }
  .container-home{
    padding: 0 3rem;
    width: 100%;
  }
  .events{
    display: grid;
    row-gap: 5rem;
    column-gap: 3rem;
    margin: 1rem 0 4rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  .event-card{
    border-top: 5px solid var(--blue-800);
    padding: 0.8rem 0;
  }
  .event_card__title{
    font-size: 26px;
    color: var(--primary);
    text-decoration: none;
    margin-bottom: 0.8rem;
  }
  .event_card__title:hover{
    color: var(--primary-highlight);
    text-decoration: underline;
  }
  .event-card__date-time{
    font-size: 0.875rem;
    font-weight: 700;
  }
  .event-card__location{
    font-size: 0.875rem;
  }
  .event-card__button{
    margin-top: 1.5rem;
  }
  @media screen and (max-width: 600px) {
    .container-home{
    padding: 0;
  }
  }

  /* Events Details page*/
  .container-small{
    max-width: 600px;
    width: 90vw;
  }
  .event-detail{
    border-top: 5px solid var(--blue-800);
    padding-top: 1rem;
  }
  .event-detail__title{
    font-size: 3.3rem;
    line-height: 3.8rem;
    color: var(--primary);
    margin: 0.3rem 0 0.8rem;
  }
  @media screen and (max-width: 600px) {
    .event-detail__title{
      font-size: 2.25rem;
      line-height: 2.7rem;
    }
  }
  .event-detail__time-and-location{
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 480px) {
    .event-detail__time-and-location{
      flex-direction: column;
  }
  }
  .event-detail__time{
    font-size: 0.875rem;
    font-weight: 700;
  }
  .event-detail__location{
    font-size: 0.875rem;
  }

  .event-detail__edit-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .event-detail_host{
    margin-top: 1rem;
    color: var(--white-alpha-50);
  }
  .event-details__invitation{
    display: flex;
    align-items: baseline;
    gap: 1rem;
    margin: 1.7rem 0 2rem;
  }
  .event-details__number-of-attendees{
    font-size: 0.875rem;
  }
  .num_attendees__you{
    color: var(--primary);
    font-weight: 700;
  }
  .num_attendees__you::before{
    content: url(check-circle.svg);
    width: 24px;
    height: 24px;
    vertical-align: -6px;
    margin-right: 5px;
  }
  @media screen and (max-width: 680px) {
    .event-details__invitation{
      flex-direction: column;
    }
  }
  .event-detail__guest-list{
    background-color: var(--blue-800);
    padding: 1.5rem;
    border-radius: 20px ;
    margin-bottom: 2rem;
  }
  .event-detail__guest-list-headline{
    font-size: 1rem;
  }
  .event-detail__attendees{
    padding: 1rem;
    margin: 0;
    color: var(--white-alpha-70);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 1rem;
  }
.event-detail__attendee{
  list-style: none;
}
  /* New Event Form*/
  .new-event-form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
  .new-event-form button{
    display: inline-block;
  } 
  .new-event-form input{
    display: block;
    width: 100%;
    background-color: var(--blue-700);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    color: var(--white);
  }
  .new-event-form input::placeholder{
    color: var(--blue-300);
  }
  
  .new-event-form input:focus{
    outline: 0 !important;
	  box-shadow: 0 0 0 .2rem var(--blue-700), 0 0 0 .35rem var(--blue-700) !important;
  }
  .new-event-form textarea{
    width: 100%;
    color: var(--white);
    resize: none;
    background-color: var(--blue-700);
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  }
    .new-event-form textarea::placeholder{
      color: var(--blue-300);
    }
     textarea.new-event-form__title::placeholder{
    color: var(--blue-400);
  }
  .new-event-form textarea:focus{
    outline: 0 !important;
	  box-shadow: 0 0 0 .2rem var(--blue-700), 0 0 0 .35rem var(--blue-700) !important;
  }
  .new-event-form input[type="submit"]{
    display: none;
  }
  .new-event-form input[type="date"]{
    display: inline-block;
    width: auto;
  }
  .new-event-form input[type="time"]{
    display: inline-block;
    width: auto;
  }
  .new-event-form__title{
    font-size: 3.3rem;
    line-height: 3.8rem;
    font-weight: 700;
  }
  input[type="date"]::-webkit-calendar-picker-indicator,
  input[type="datetime-local"]::-webkit-calendar-picker-indicator{
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23bbbbbb" class="size-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" /></svg>');
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23bbbbbb" class="size-6"> <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>');
  }
  .form-date-time{
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

}